.challengeBox {
  padding: 20px;
  padding-top: 0px;
  border: var(--border-color) 4px solid;
  border-radius: 20px;
  transition: transform 0.3s, border-color 0.5s;
}

.challengeBox:hover {
  transform: scale(1.05);
}

.challengeBox legend {
  font-size: 1.5em;
  font-weight: bold;
}

.challengeBox .challengeText {
  font-size: 1.2em;
  font-style: italic;
}